# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\covid19\covid19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
